.container_business {
    position: relative;
    padding-top: 70px;
    margin: 0 auto 70px;
}


@media (max-width: 1199px) {
    .container_business {
        padding-top: 0;
    }

    .container_business .roadmap_ledger {
        padding: 0 50px;
    }
}


@media (max-width: 699px) {

    .container_business {
        margin-bottom: 47px;
    }

    .container_business .title_ledger {
        margin: 40px auto 46px;
    }

    .container_business .roadmap_ledger {
        padding: 0;
    }
}