.container_for-customers {
    position: relative;
    background-color: #f5f5fa;
    padding-bottom: 50px;
}

.background_for-customers {
    position: absolute;
    right: -170px;
    top: 90px;
    width: 540px;
    height: 670px;
    background: url("../images/for-customers/background.png") no-repeat left;
    background-size: 540px 670px;
    transform: rotate(-10deg);
}

.cards_for-customers {
    max-width: 1200px;
    margin: 45px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card_for-customers {
    position: relative;
    width: 560px;
    padding: 37px 40px 42px;
    border-radius: 20px;
    background-color: #5ba2f5;
    margin: 20px;
    z-index: 10;
}

.title-card_for-customers {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.description-card_for-customers {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

.wrapper-fro-substrate_for-customers {
    position: relative;
}

.substrate-card_for-customers {
    position: absolute;
    width: 520px;
    max-width: 93%;
    height: 100px;
    border-radius: 20px;
    left: 40px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
}

.rotate-5 {
    transform: rotate(5deg);
}