.container_ledger {
    position: relative;
    padding: 0 50px;
}

.substrate_ledger {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
    opacity: 0.05;
}

.body_ledger {
    width: 1400px;
    position: relative;
    background-color: white;
    padding: 70px 50px 0;
    margin: -100px auto 70px;
    border-radius: 20px;
}

.title_ledger.block_title {
    margin-bottom: 73px;
}

.roadmap_ledger {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.card_ledger.content_center {
    position: relative;
    width: 236px;
    flex-direction: column;
    align-items: stretch;
    margin-top: -10px;
}

.description_ledger {
    position: relative;
    width: 220px;
    padding: 20px 20px 10px;
    border-radius: 20px;
    background-color: #f5f5fa;
}

.date_ledger {
    position: absolute;
    left: 20px;
    top: -17px;
    font: 18px Rubik-Bold;
    line-height: 34px;
    color: #1f094e;
}

.field_ledger {
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 25px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font: 16px Rubik-Medium;
    line-height: 1.25;
    color: #333347;
}

.top-decoration_ledger {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line-before-circle_ledger {
    flex: 1;
    height: 2px;
    background-color: #1f094e;
    border: solid 1px #f5f5fa;
}

.circle_ledger {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #1f094e;
    border: solid 1px #f5f5fa;
}

.line-after-circle_ledger {
    width: 52px;
    height: 2px;
    background-color: #1f094e;
    border: solid 1px #f5f5fa;
}

.after-circle_ledger {
    width: 52px;
    height: 2px;
}

.filler_ledger {
    flex: 1;
}

@media (max-width: 1199px) {

    .title_ledger.block_title {
        margin-bottom: 61px;
    }

    .body_ledger {
        width: 668px;
        min-width: 668px;
        margin: -100px auto 30px;
    }

    .body_ledger .work_body {
        width: 100%;
    }

    .roadmap_ledger {
        display: block;
    }

    .roadmap_ledger > div {
        float: left;
    }

    .top-decoration_ledger {
        display: none;
    }

    .card_ledger.content_center {
        width: 50%;
        margin: 0 auto 30px;
    }

    .description_ledger {
        width: 95%;

    }

    .roadmap_ledger div.right-card_ledger {
        float: right;
        align-items: flex-end;
    }

    .roadmap_ledger:after {
        content: "";
        display: table;
        clear: both;
    }
}


@media (max-width: 699px) {
    .container_ledger .body_ledger {
        margin: -170px auto 50px;
        padding: 50px 10px 0;
        max-width: 300px;
        width: 300px;
        min-width: 300px;
    }

    .title_ledger.block_title {
        margin-bottom: 46px;
    }

    .card_ledger.content_center {
        width: 100%;
        margin-bottom: 27px;
    }

    .description_ledger {
        width: 100%;
    }

}