@import "./title.css";
@import "./description.css";
@import "./for-authors.css";
@import "./for-customers.css";
@import "./key-features.css";
@import "./ledger.css";
@import "./business.css";
@import "./team.css";
@import "./footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

button {
    width: 280px;
    height: 60px;
    border: none;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.delimiter {
    width: 40px;
    height: 10px;
    background: url("../images/delimiter.svg") no-repeat center;
    background-size: 40px 10px;
}

.big-delimiter {
    width: 80px;
    height: 20px;
    background: url("../images/big-delimiter.svg") no-repeat center;
    background-size: 80px 20px;
    margin: 0 auto;
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_title {
    font-size: 32px;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #1f094e;
    margin: 55px auto 0;
    text-transform: uppercase;
    max-width: 1000px;
}

.work_body {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
}