.container_title {
    background-size: 1180px 1180px;
    background: #43218b url("../images/title/background.svg") no-repeat 50% 160px;
    padding-bottom: 260px;
}

.header_title {
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: url("../images/title/logo.svg") no-repeat left;
    background-size: 48px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.header_title > a.main-btn_title {
    background-color: white;
    color: #43218b;
}

.header_title > a {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    color: white;
    margin-left: 20px;
}

.header_title > a:visited {
    color: white;
}

.title {
    margin-top: 167px;
    font-size: 56px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.description_title {
    margin-top: 20px;
    font-size: 28px;
    color: white;
    text-align: center;
}

.delimiter_title {
    margin: 53px auto 50px;
}

.buttons_title {
    max-width: 580px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-btn_title {
    display: block;
    margin: 20px auto 0;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #ffffff;
    color: white;
}

.left-btn_title {
    background-color: #4fa0ff;
    color: white;
}

.right-btn_title {
    background-color: #ff9f00;
    color: white;
}